<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- If you delete this tag, the sky will fall on your head -->
		<meta name="viewport" content="width=device-width" />

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ZURBemails</title>

		<link rel="stylesheet" type="text/css" href="/static/css/email.css" />
	</head>

	<body bgcolor="#FFFFFF">

		<!-- HEADER -->
		<table class="head-wrap" bgcolor="#999999">
			<tr>
			<td></td>
			<td class="header container">
				<div class="content">
					<table bgcolor="#999999">
					<tr>
						<td><img src="http://www.engagetechnology.com/resources/css/images/intelliship_logo_frontpage.png"/></td>
						<td align="right"><h6 class="collapse">Engage Technology</h6></td>
					</tr>
				</table>
				</div>
			</td>
			<td></td>
			</tr>
		</table><!-- /HEADER -->


		<!-- BODY -->
		<table class="body-wrap">
			<tr>
				<td></td>
				<td class="container" bgcolor="#FFFFFF">

					<div class="content">
					<table>
						<tr>
							<td>

								<h3>Welcome, [% username %]</h3>
								<p class="lead">Cloud based multi-carrier manifesting and shipment routing software.</p>

								<!-- A Real Hero (and a real human being) -->
								<p><img src="http://www.engagetechnology.com/resources/css/images/intelli_slider/Slide1.png" /></p><!-- /hero -->

								<!-- Callout Panel -->
								<p class="callout">
								[% content %]
								</p>
								<!-- /Callout Panel -->

								<br/>
								<br/>

								<!-- social & contact -->
								<table class="social" width="100%">
									<tr>
										<td>

										<!--- column 1 -->
										<table align="left" class="column">
											<tr>
												<td>

												<h5 class="">Connect with Us:</h5>
												<p class=""><a href="#" class="soc-btn fb">Facebook</a> <a href="#" class="soc-btn tw">Twitter</a> <a href="#" class="soc-btn gp">Google+</a></p>

												</td>
											</tr>
										</table><!-- /column 1 -->

										<!--- column 2 -->
										<table align="left" class="column">
											<tr>
												<td>

												<h5 class="">Contact Info:</h5>
												<p style="no-wrap: nowrap;">
												Main Phone: <strong>901.620.6788</strong><br/>
												Toll Free: <strong>(800) 787-6024</strong><br/>
												Email: <strong><a href="emailto:contact@engagetechnology.com">contact@engagetechnology.com</a></strong>
												</p>

												</td>
											</tr>
										</table><!-- /column 2 -->

										<span class="clear"></span>

										</td>
									</tr>
								</table><!-- /social & contact -->


							</td>
						</tr>
					</table>
					</div>

				</td>
				<td></td>
			</tr>
		</table><!-- /BODY -->

		<!-- FOOTER -->
		<table class="footer-wrap">
			<tr>
				<td></td>
				<td class="container">
					<!-- content -->
					<div class="content">
					<table>
					<tr>
						<td align="center">
							<p>
								<a href="#">Terms</a> |
								<a href="#">Privacy</a> |
								<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
							</p>
						</td>
					</tr>
					</table>
					</div><!-- /content -->
				</td>
				<td></td>
			</tr>
		</table>
		<!-- /FOOTER -->

	</body>
</html>