<!DOCTYPE HTML>
<html>
	<head>
		<title>Engage Technology IntelliShip</title>
		<link rel="stylesheet" type="text/css" href="/static/css/css3-checkboxes-and-radios.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/customer/style.css"/>

		[% IF MEDIA_PRINT %]
		<link rel="stylesheet" type="text/css" href="/static/css/customer/print.css" media="print"/>
		[% END %]

		<!-- All jQuery Sources -->

		<!-- The jQuery 1.10.2 Plugin -->
		<script src="/static/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>

		<!-- The jQuery UI 1.10.3 Plugin -->
		<link rel="stylesheet" href="/static/jquery/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">

		<script src="/static/jquery/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.datepicker.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.menu.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.autocomplete.js"></script>

		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.sortable.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.tooltip.js"></script>
		<!--
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.effect-blind.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.effect-explode.js"></script>
		-->


		<!-- The jQuery Mask Plugin v 1.3.1 -->
		<script src="/static/jquery/jquery.mask.min.js"></script>

		<!-- The jQuery Validation Plugin v 1.11.1
		<script src="/static/jquery/jquery.validate.min.js"></script>
		 -->

		 <!-- Customer Portal Javascript -->
		<script src="/static/js/Chart.min.js"></script>

		 <!-- Customer Portal Javascript -->
		<script src="/static/js/customer.js"></script>

		<script>$(document).ready(function(){ $("#[% selected_mnu %]").addClass("selected "); $("#[% selected_mnu %]").removeAttr('href'); });</script>
	</head>

	<body>
	<!-- start wrapper -->
	<div id="wrapper">

	<!-- ajax loader -->
	<div id="preload" style="display: none;"><img src="/static/images/ajax-loader-dots.gif" class="ajax-loader"/></div>
	<!-- ajax loader -->

	<!-- start Dialog -->
	<div id="dialog-message" title="Message"></div>
	<!-- end Dialog -->

	<div id="response-content" style="display: none;"></div>

		<div id="header"> <!-- start header -->
			<img src="/static/images/company-logo-transperent.png">
			<span>&nbsp;Welcome Back [% username %]</span>
			<ul>
				<li><a href="/customer/settings"><img src="/static/images/settings.png"><label>SETTINGS</label></a></li>
				<li><a href="/customer/dashboard"><img src="/static/images/help.png"><label>HELP</label></a></li>
				<li><a href="/customer/logout"><img src="/static/images/signout.png"><label>SIGNOUT</label></a></li>
			</ul>
		</div> <!-- end header -->

		<!-- <div style="clear: both;">&nbsp;</div> -->

		<div ID="menu"> <!-- start menu -->
		<form method=post action="" name="menu">
		  <input type="hidden" name="action">
		  <input type="hidden" name="do">
		  <ul>
			<li><a id="mnu_dashboard" href="/customer/dashboard" class="dashboard"><div>DASHBOARD</div></a></li>
			<li><a id="mnu_myorders" href="/customer/myorders" class="mo"><div>MY ORDERS</div></a></li>
			<li><a id="mnu_new" href="/customer/order/new" class="new"><div>NEW ORDER</div></a></li>
			<li><a id="mnu_multipage" href="/customer/order/multipage" class="new"><div>MULTIPAGE ORDER</div></a></li>
			<li><a id="mnu_quickship" href="/customer/order/quickship" class="qs"><div>QUICK SHIP</div></a></li>
			<li><a id="mnu_shippackages" href="/customer/shippackages" class="sp"><div>SHIP PACKAGES</div></a></li>
			<li><a id="mnu_batchshipping" href="/customer/batchshipping" class="batch"><div>BATCH SHIPPING</div></a></li>
			<li><a id="mnu_uploadfile" href="/customer/uploadfile" class="upload"><div>UPLOAD FILE</div></a></li>
			<li><a id="mnu_shipmentmaintenance" href="/customer/shipmentmaintenance" class="sm"><div>SHIPMENT MAINTENANCE</div></a></li>
			<li><a id="mnu_report" href="/customer/report" class="reports"><div>REPORTS</div></a></li>
			<li><label><select id="searchtype" name="searchtype"><option>Search Type</select></label></li>
			<li><input type="text"id="searchterm" name="searchterm" placeholder="Search...." size="12"/><input type="submit" value="Search" id="submit" src="search.png"/></li>
			<li>&nbsp;</li>
		  </ul>
		</form>
		</div> <!-- end menu -->

		<div id="page"> <!-- start page -->

			<div id="content"> <!-- start content -->
				<div id="post">

				<!-- ========================================== START ========================================== -->
				[% content %]
				<!-- =========================================== END =========================================== -->
				<div style="clear: both;">&nbsp;</div>

				</div>          

			</div> <!-- end content -->

		</div> <!-- end page -->

		<!-- start footer -->
		<div id="footer">
			<ul>
				<li><img src="/static/images/engage-logo.gif"></li>
				<li>&copy; 2013 Engage Technology, LLC.</li>
				<li>|&nbsp<a href="#">Privacy</a>&nbsp;</li>
				<li>|&nbsp<a href="#">Legal</a></li>
		  </ul>
		</div>
		<!-- end footer -->

	</div>
	<!-- end wrapper -->

	</body>

</html>