<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Engage Technology IntelliShip</title>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11"/>

		[% IF MEDIA_PRINT %]
		<link rel="stylesheet" type="text/css" href="/static/css/customer/print.css" media="print"/>
		[% END %]

		<!-- All jQuery Sources -->

		<!-- The jQuery 1.10.2 Plugin -->
		<script src="/static/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>

		<!-- The jQuery UI 1.10.3 Plugin -->
		<link rel="stylesheet" href="/static/jquery/jquery-ui-1.10.3/themes/base/jquery.ui.all.css">

		<script src="/static/jquery/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.core.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.datepicker.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.widget.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.position.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.menu.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.autocomplete.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.tabs.js"></script>

		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.mouse.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.sortable.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.draggable.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.resizable.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.button.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.dialog.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.effect.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.tooltip.js"></script>
		<!--
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.effect-blind.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery.ui.effect-explode.js"></script>
		-->


		<!-- The jQuery Mask Plugin v 1.3.1 -->
		<script src="/static/jquery/jquery.mask.min.js"></script>

		<!-- The jQuery Validation Plugin v 1.11.1
		<script src="/static/jquery/jquery.validate.min.js"></script>
		 -->

		 <!-- Customer Portal Javascript -->
		<script src="/static/js/Chart.min.js"></script>

		 <!-- Customer Portal Javascript -->
		<script src="/static/js/customer.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/css3-checkboxes-and-radios.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/customer/style.css"/>

		<script>$(document).ready(function(){ $("#[% selected_mnu %]").addClass("selected "); $("#[% selected_mnu %]").removeAttr('href'); });</script>
	</head>

	<body>
		<!-- start wrapper -->
		<div id="wrapper">

		<!-- ajax loader -->
		<div id="preload"><img src="/static/images/ajax-loader-dots.gif"/></div>
		<!-- ajax loader -->

		<!-- start Dialog -->
		<div id="dialog-message" title="Message"></div>
		<!-- end Dialog -->

		<div id="response-content" style="display: none;"></div>

		<!-- start header -->
		<div id="header">
			<div id="content">
				<img src="/static/images/[% branding_id %]/company-logo.png">
				<span>&nbsp;Welcome Back [% username %]</span>
				<ul>
					<li><a href="/customer/settings" id="settings"><img src="/static/images/settings.png"><label for="settings">SETTINGS</label></a></li>
					<li><a href="/customer/help" id="help"><img src="/static/images/help.png"><label for="help">HELP</label></a></li>
					<li><a href="/customer/logout" id="logout"><img src="/static/images/signout.png"><label for="logout">SIGNOUT</label></a></li>
				</ul>
			</div>
		</div>
		<!-- end header -->

		<!-- <div style="clear: both;">&nbsp;</div> -->

		<div ID="menu"> <!-- start menu -->
			<div id="content">
			<form method=post action="" name="menu">
				<input type="hidden" name="action">
				<input type="hidden" name="do">
				  <ul>
					[% IF DISPLAY_DASHBOARD %]
					<li><a id="mnu_dashboard" href="/customer/dashboard" class="dashboard"><div>DASHBOARD</div></a></li>
					[% END %]
					[% IF DISPLAY_MYORDERS %]
					<li><a id="mnu_myorders" href="/customer/myorders" class="mo"><div>MY ORDERS</div></a></li>
					[% END %]
					[% IF DISPLAY_NEW_ORDER %]
					<li><a id="mnu_onepage" href="/customer/order/onepage" class="new"><div>NEW ORDER</div></a></li>
					[% END %]
					<li><a id="mnu_multipage" href="/customer/order/multipage" class="sap"><div>SHIP A PACKAGE</div></a></li>
					[% IF DISPLAY_QUICKSHIP %]
					<li><a id="mnu_quickship" href="/customer/order/quickship" class="qs"><div>QUICK SHIP</div></a></li>
					[% END %]
					[% IF DISPLAY_SHIP_PACKAGE %]
					<li><a id="mnu_shippackages" href="/customer/shippackages" class="sp"><div>SCAN AUTOMATION</div></a></li>
					[% END %]
					[%IF DISPLAY_BATCH_SHIPPING %]
					<li><a id="mnu_batchshipping" href="/customer/batchshipping" class="batch"><div>BATCH SHIPPING</div></a></li>
					[% END %]
					[% IF DISPLAY_UPLOAD_FILE %]
					<li><a id="mnu_uploadfile" href="/customer/uploadfile" class="upload"><div>UPLOAD FILE</div></a></li>
					[% END %]
					[% IF DISPLAY_SHIPMENT_MAINTENANCE %]
					<!--<li><a id="mnu_shipmentmaintenance" href="/customer/shipmentmaintenance" class="sm"><div>SHIPMENT MAINTENANCE</div></a></li>-->
					<li><a id="mnu_myshipments" href="/customer/myshipments" class="ms"><div>MY SHIPMENTS</div></a></li>
					[% END %]
					<li><a id="mnu_report" href="/customer/report" class="reports"><div>REPORTS</div></a></li>
				</ul>
				<!--
				<table id="search-bar">
					<tr>
					<td><select id="searchtype" name="searchtype"><option>Search Type</select></td>
					<td><input type="text"id="searchterm" name="searchterm" placeholder="Search..." size="12"/><input type="submit" value="Search" id="submit" src="search.png"/></td>
					</tr>
				</table>
				-->
			</form>
			</div>
		</div> <!-- end menu -->
		<div id="page"> <!-- start page -->

			<div id="content"> <!-- start content -->
				<div id="post">

				<!-- ========================================== START ========================================== -->
				[% content %]
				<!-- =========================================== END =========================================== -->
				<div style="clear: both;">&nbsp;</div>

				</div>

			</div> <!-- end content -->

		</div> <!-- end page -->

		<!-- start footer -->
		<div id="footer">
			<div id="content">
			<ul>
				<li><img src="/static/images/engage-logo.gif"></li>
				<li>&copy; 2014 Engage Technology, LLC.</li>
				<li>|&nbsp<a href="#">Privacy</a>&nbsp;</li>
				<li>|&nbsp<a href="#">Legal</a></li>
			</ul>
			</div
		</div>
		<!-- end footer -->

	</div>
	<!-- end wrapper -->

	</body>

</html>