<h2>Order Shipment Response</h2>

[% IF MESSAGE %]
	<div class="notice">[% MESSAGE %]</div>
	<div class="notice">Please give one more try. Thank you for using our services!</div>
[% END %]

<center><input type="button" class="button" value="BACK" onclick="javascript:history.back();"/></center>