<h2>Order Shipment Response</h2>

[% IF MESSAGE %]
	<div class="notice">[% MESSAGE %]</div>
	<div class="notice">Please give one more try. Thank you for using our services!</div>
[% END %]

<form id="frm_label" name="frm_label" action="/customer/order/quickship">
	<input type="hidden" name="coid" value="[% coid %]"/>
	<input type="hidden" name="force_edit" value="1"/>
	<center>
		<input type="submit" class="button" value="EDIT ORDER""/>
	</center>
</form>