<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Sprint list</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>

		<script type="text/javascript" src="/static/jquery/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/static/js/customer.js"></script>
		<script type="text/javascript" src="/static/js/deployJava.js"></script>
		<script type="text/javascript" src="/static/js/applet-label-print.js"></script>
		<script type="text/javascript" src="/static/js/html2canvas/html2canvas.js"></script>

		<style type="text/css">
		* { font-family: Arial, Helvetica, sans-serif }
		#packing-list {
			float: left;
			font-size: 10pt;
			margin-top: 10px;
			position: absolute;
		}
		#packing-list img { padding: 0; margin: 0 }
		#packing-list table {
			padding: 0; margin: 0;
			filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
		}
		#packing-list div{
			position: absolute;
			padding: 10px;
		}
		#packing-list div.addressfieldname{
			border-top: 1px solid black;
			border-right: 1px solid black;
			border-left: 1px solid black;
			background-color: lightgrey;
			padding: 2px 0 2px 10px;
			font: bold;
		}
		#packing-list div.addressfield{
			border: 1px solid black;
			padding: 5px 0 2px 10px;
		}
		#packing-list div.fieldname{
			border-top: 1px solid black;
			border-right: 1px solid black;
			border-left: 1px solid black;
			background-color: lightgrey;
			padding: 2px 0px 2px 0px;
			text-align: center;
			font: bold;
		}
		#packing-list div.field{
			border: 1px solid black;
			text-align: center;
		}
		#packing-list table table.list { width: 390px; margin: 0; border-spacing: 0px; font-size: 11px }
		#packing-list table table.list tr:nth-child(odd)  { color: #000; background: #DDD }
		#packing-list table table.list tr:nth-child(even) { color: #000; background: #FFF }
		#packing-list table table.list th { padding: 2px 5px; color: #FFF; background-color: #000; white-space: nowrap; text-align: center }
		#packing-list table table.list td { padding: 2px 5px }
		#packing-list table table.list td.center { text-align: center }

		#packing-list table table.summary { width: 100%; margin: 0; border-spacing: 0px; font-size: 11px; border: 1px solid #A2A1A6; border-collapse: collapse }
		#packing-list table table.summary th { font: bold 28px Arial, sans-serif, Helvetica; text-align: center }
		#packing-list table table.summary td { padding: 0 3px }
	</style>
	</head>

	<body>
		<div id="packing-list">
			<!-- <img src="/print/label/8EY91A1WUVMEB.jpg" width="400px"/> -->
			[% IF LABEL_IMG_LOOP %]
				[% FOREACH item IN LABEL_IMG_LOOP %]
				<img src="[% item.src %]" width="400px"/>
				[% END %]
			[% ELSE %]
				[% FOREACH LABEL IN LABEL_LOOP %]
					[% LABEL %]
				[% END %]
			[% END %]
			<table>
			[% FOREACH page IN packinglist_loop %]
				<tr[% IF loop.count > 1 %] style="page-break-before: always;"[% END %]>
				<td valign="top">
				[% IF page.packinglist_1_loop %]
				<table class="list">
					<tr>
						<th style="width: .25in;">QTY</th>
						<th style="width: .6875in;">REFERED EQUIPMENT</th>
						<th style="width: .8125in;">COMFIGURATION/SOFTWARE</th>
					</tr>
					[% FOREACH item IN page.packinglist_1_loop %]
					<tr style="height: .1875in;">
						<td>[% item.shippedqty %]</td>
						<td>[% item.partnumber %]</td>
						<td>[% item.productdescription %]</td>
					</tr>
					[% END %]
				</table>
				[% END %]
				</td>
				<td valign="bottom">
				[% IF page.packinglist_2_loop %]
				<table class="list">
					<tr>
						<th style="width: .25in;">QTY</th>
						<th style="width: .6875in;">REFERED EQUIPMENT</th>
						<th style="width: .8125in;">COMFIGURATION/SOFTWARE</th>
					</tr>
					[% FOREACH item IN page.packinglist_2_loop %]
					<tr style="height: .1875in;">
						<td>[% item.shippedqty %]</td>
						<td>[% item.partnumber %]</td>
						<td>[% item.productdescription %]</td>
					</tr>
					[% END %]
				</table>
				[% END %]

				<table class="summary">
					<tr><th colspan=6>[% ordernumber %]</th></tr>
					<tr><td colspan=6><center><img id="barcode" src="[% barcode_image %]" width="300" height="30"/></center></td></tr>
					<tr><td align="right">BU/CC</td><td>:</td><td></td><td align="right">Service Level</td><td>:</td><td>[% service %]</td></tr>
					<tr><td align="right">Return Label</td><td>:</td><td>[% returnshipment == 1 ? 'Yes' : 'No' %]</td><td align="right">MAC/ESN</td><td>:</td><td>Yes</td></tr>
					<tr><td align="right">Deliver On</td><td>:</td><td>[% datedue %]</td><td align="right">Network</td><td>:</td><td>PJ008727B</td></tr>
					<tr><td align="right">Comments</td><td>:</td><td colspan="4">[% comments %]</td></tr>
				</table>
				</td>
				</tr>
			[% END %]
			</table>
		</div>

		<form id="frm_next" action="/customer/order/ajax">
			<input type="hidden" name="ajax" value="1"/>
			<input type="hidden" name="type" value="HTML"/>
			[% IF billoflading %]
				<input type="hidden" name="action" value="generate_bill_of_lading"/>
			[% ELSE %]
				[% IF printcominv %]
			<input type="hidden" name="action" value="generate_commercial_invoice"/>
				[% END %]
			[% END %]

			<input type="hidden" id="coid" name="coid" value="[% coid %]"/>
			<input type="hidden" id="shipmentid" name="shipmentid" value="[% shipmentid %]"/>
		</form>

		<canvas id="hidden_screenshot" style="display:none;"></canvas>
	</body>

	<script>
	$(document).ready(function() {

		useDefaultPrinter(function() {

			if (!isLoaded())
				{
				alert("Printer is not loaded, please try again.");
				return;
				}

			window['qzDonePrinting'] = function() {
				// After print functionality
				if ($('input[name=action]').length > 0)
					document.getElementById('frm_next').submit();
				else
					{
					var query_param = 'coid=[% coid %]&shipmentid=[% shipmentid %]';
					send_ajax_request('', 'JSON', 'order', 'mark_shipment_as_printed', query_param, function() {
						var href = '/customer/order/quickship';
						if (JSON_data.RETURN_SHIPMENT == 1) href += '?coid=' + JSON_data.RET_COID;
						window.location.href = href;
						});
					}

				// Remove reference to this function
				window['qzDonePrinting'] = null;
				};
			printHTML5Page();
			});
		});
	</script>
</html>