<html>
	<head>
		<title>USPS Price Calculator API</title>
	</head>
	<body>
		<center>
		<a href="https://www.usps.com/business/web-tools-apis/rate-calculator-api.htm">USPS Rate Calculator API Reference</a>
		<hr><br/>
		<form action="http://production.shippingapis.com/ShippingAPI.dll" method="post">
			<input type="hidden" name="API" value="RateV4"/>
			<textarea rows=15 cols=75 name="XML">
<RateV4Request USERID="667ENGAG1719">
     <Revision/>
     <Package ID="1ST">
          <Service>PRIORITY</Service>
          <ZipOrigination>44106</ZipOrigination>
          <ZipDestination>20770</ZipDestination>
          <Pounds>1</Pounds>
          <Ounces>8</Ounces>
          <Container>NONRECTANGULAR</Container>
          <Size>LARGE</Size>
          <Width>15</Width>
          <Length>30</Length>
          <Height>15</Height>
          <Girth>55</Girth>
     </Package>
</RateV4Request>
			</textarea>
			<br/>
			<input type="submit" value="Rate Shipment"/>
		</form>
		</center>
	</body>
</html>