*{
    margin:0;
    padding:0;
}

body{
    font: 12px Verdana, Arial, sans-serif, Helvetica;
    margin-top: 20px;
    color: #4B4B4B;
}

#wrapper {
}

/* CSS3 radius */

.rounded10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.rounded5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.margin20 {
    margin: 20px 0px;
}

.ajax-loader {
    position: fixed;
    top: 0%;
    left: 50%;
    margin-left: -48px; /* image width / 2 */
    margin-top:   5px;  /* image height / 2 */
    display: block;
    cursor: wait;
}

/* Header */

#header {
    width: 98%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #6F8DB0;
    //opacity: 0.8;
    //background: #1875ba;
}

/* LOGO */

#logo {
    padding-top: 10px;
    background: #1875ba url(/static/customer/images/company-logo.png) no-repeat;
    //opacity:0.6;
}

/* Menu */

#menu {
    width: 98%;
    height: 25px;
    margin: 0 auto;
    border: solid 1px #ddd;
    border-top: none;
    font: bold 12px Arial, Helvetica;
}

#menu ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
    padding: 0 8px;
    color: #1875ba;
    float: left;
}

#menu a:hover {
    text-decoration: underline;
    color: #aaa;
}

/* Page */

#page {
    width: 98%;
    margin: 10px auto;
    border: solid 1px #ddd;
}

#content {
    margin: 0 10px;
    width: auto;
}

/* Post */

#post {
    margin: 0 auto;
    width: auto;
   }

/* Footer */

#footer {
    width: 98%;
    margin: 10px auto;
    color: #909090;
/*    border: solid 1px #ddd;*/
}

html>body #footer {
    height: auto;
}

/* Dashboard */

#dashboard {
    width: auto;
    height: auto;
}

#legal {
    clear: both;
    padding: 10px;
    text-align: center;
    border: #aaa solid 1px;
}

#legal a {
    color: #333333;
}

h1, h2, h3 {
    font: bold;
    color: #1875ba;
    margin: 10px 0;
    clear: both;
}

h1 {
    font-size: 20px;
    border-bottom: solid 1px;
}

h2 {
    font-size: 16px;
    border-bottom: solid 1px;
}

h3 {
    font-size: 14px;
}

table {
    margin: 0;
    padding: 0;
}

table th {
    color: #fff;
    font-weight: bold;
    background: #1875ba;
    text-align: center;
    text-transform: uppercase;
    border: 1px #fff solid;
}

table td {
    padding: 3px;
}

table.app {
    width: auto;
    margin: 10px 0;
    padding: 10px;
    background: #e9e9e9;
}

table.fixed_app {
    margin: 5px;
    padding: 10px;
    background: #e9e9e9;
    text-align: left;
    font-size: 11px;
    border-collapse: collapse;
    float: left;
    width: 25%;
    min-width: 200px;
}

table.fixed_app caption {
    padding: 5px;
    color: #fff;
    font-weight: bold;
    background: #1875ba;
    text-align: left;
    text-transform: uppercase;
}

table.center_app {
    width: auto;
    padding: 10px;
    margin: 10px auto;
    background: #e9e9e9;
    text-align: left;
    font-size: 11px;
    border-collapse: collapse;
}

table.report {border-spacing: 1px}
table.report td, th {padding: 0 3px}
table.report tr:nth-child(odd) {color: #000; background: #FFF}
table.report tr:nth-child(even) {color: #000; background: #E0E0E0}
table.report tr:hover {background:#EEE !important}

.small_title {
    font: 12px;
    color: #1875ba;
    font-weight: bold;
}

.light_grey {
    background: #AFAFAF;
}

.light_blue {
    background: #1875ba;
}

.require {
    border: solid 1px #c45649;
}

.require_text {
    color: #c45649;
}

.regsubtitle {
    text-decoration: none; 
    color: #085184;
}

.regsubtitle:hover {
    text-decoration: underline;
    color: #ff0000;
}

div.notice {
    position: relative;
    border: 1px solid #97c1da;
    color: #264c72;
    padding: 15px;
    background-color: #d0e3ef;
    background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
    background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
    background-image: linear-gradient(#d8ebf8, #d0e3ef);
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

div.error {
    color: #911;
    padding: 15px;
    background-color: #efd0d0;
    background-image: -moz-linear-gradient(#f8d8d8, #efd0d0);
    background-image: -webkit-linear-gradient(#f8d8d8, #efd0d0);
    background-image: linear-gradient(#f8d8d8, #efd0d0);
    background-repeat: repeat-x;
    border-color: #da9797;
}

.active {
    padding: 5px 5px;
    color: #fff;
    font: bold 14px;
    width: 250px;
    background: #1875ba;
    text-align: center;
}

.inactive {
    padding: 5px 5px;
    color: #fff;
    font: bold 14px;
    width: 250px;
    background: #AFAFAF;
    text-align: center;
}

.bold_text {
    font-weight: bold;
}

.default_text {
    margin: 2px;
    padding: 0 3px;
    font-size: 11px;
    font-weight: bold;
}

.solid_line {
    height: 5px;
    width: 100%;
    margin: 10px 0px;
    background-color: #1875ba;
}

a {
    text-decoration: none;
    color: #1875ba;
}

a:hover {
    text-decoration: underline;
    color: #97c1da;
}

#list ul {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    list-style: none;
    list-style-type:circle;
}

input  {
    width: auto;
    padding: 0 3px;
    border: solid 1px #afafaf;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
/*
    -webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
*/
}

input.checkbox  {
    margin-top: 2px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
/*
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
*/
}

input.text {
    width: 160px;
}

input.broad_text {
    width: 220px;
}

input.auto_width {
    width: auto;
}

input.hidden {
    border: none;
    background: #e9e9e9;
}

/* Buttons */

input.button {
    width: auto;
    padding: 0px 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input.submit {
    color: #fff;
    background: #afafaf;
    border: 1px solid #afafaf;
}

input.cancel {
    color: #fff;
    background: #afafaf;
    border: 1px solid #afafaf;
}

input.delete {
    color: #fff;
    background: #ee4f3c;
    border: 1px solid #ee4f3c;
}

input.review {
    color: #fff;
    background: #2f62a3;
    border: 1px solid #2f62a3;
}

input.create {
    color: #fff;
    background: #4fbd4a;
    border: 1px solid #4fbd4a;
}

input.large {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

/* The CSS3 select control */
select {
    border: solid 1px #afafaf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
/* 
    -webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
*/
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select { padding-right:18px }
}

label { position: relative }

label:after {
    content: '<>';
    font: 11px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px; top:2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

label:before {
    content: '';
    right: 6px; top:0px;
    width: 20px; height:20px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}*/

/* jQuery autocomplete scrollable results */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 * html .ui-autocomplete {
    height: 300px;
}