*{
    margin:0;
    padding:0;
}

body{
    font: 12px Verdana, Arial, sans-serif, Helvetica;
    margin-top: 20px;
    color: #4B4B4B;
}

#wrapper {
}

/* CSS3 radius */

.rounded10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.rounded5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.margin20 {
    margin: 20px 0px;
}

.ajax-loader {
    position: fixed;
    top: 0%;
    left: 50%;
    margin-left: -64px; /* image width / 2 */
    margin-top:   0px;  /* image height / 2 */
    display: block;
    cursor: wait;
}

/* Header */

#header {
    width: 98%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #6F8DB0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
}

/* LOGO */

#logo {
    padding-top: 10px;
    background: #1875ba url(/static/customer/images/company-logo.png) no-repeat;
    //opacity:0.6;
}

/* Menu */

#menu {
    width: 98%;
    height: 25px;
    margin: 0 auto;
    border: solid 1px #ddd;
    border-top: none;
    font: bold 12px Arial, Helvetica;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#menu ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
    padding: 0 8px;
    color: #1875ba;
    float: left;
}

#menu a:hover {
    text-decoration: underline;
    color: #aaa;
}

#menu a.selected {
    color: #aaa;
}

/* Page */

#page {
    width: 98%;
    margin: 10px auto;
    border: solid 1px #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
}

#content {
    margin: 0 10px;
    width: auto;
}

/* Post */

#post {
    margin: 0 auto;
    width: auto;
   }

/* Footer */

#footer {
    width: 98%;
    margin: 10px auto;
    color: #909090;
    border: solid 1px #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
}

/* Dashboard */

#dashboard {
    width: auto;
    height: auto;
}

#legal {
    clear: both;
    padding: 10px;
    text-align: center;
}

#legal a {
    color: #333333;
}

h1, h2, h3 {
    font: bold;
    color: #1875ba;
    margin: 10px 0;
    clear: both;
}

h1 {
    font-size: 20px;
    border-bottom: solid 1px;
}

h2 {
    font-size: 16px;
    border-bottom: solid 1px;
}

h3 {
    font-size: 14px;
}

label {
    white-space:nowrap;
    padding: 3px;
}

.equal {
    display: table
}
.row {
    display: table-row
}
.row div {
    display: table-cell;
    padding: 0 10px;
    vertical-align: top
}

table {
    margin: 0;
    padding: 0;
}

table th {
    color: #fff;
    font-weight: bold;
    background: #1875ba;
    text-align: center;
    text-transform: uppercase;
    border: 1px #fff solid;
}

table td {
    padding: 3px;
}

table.center {
    width: auto;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

table.app {
    margin: 10px 0;
    padding: 10px;
    background: #e9e9e9;
    border: solid 1px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

table.app caption {
    width: auto;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    background: #1875ba;
    text-align: left;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

table.center_app {
    width: auto;
    padding: 10px;
    margin: 10px auto;
    background: #e9e9e9;
    text-align: left;
    font-size: 11px;
    border: solid 1px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

table.report {width: 100%; margin: 10px 0; border-spacing: 1px}
table.report td, th {padding: 0 3px; text-align: center}
table.report tr:nth-child(odd) {color: #000; background: #FFF}
table.report tr:nth-child(even) {color: #000; background: #E0E0E0}
table.report tr:hover {background:#99CCFF !important}
table.report th a {text-decoration: none;color: #FFF}
table.report th a:hover {text-decoration: underline;color: #97c1da}

.small_title {
    font: 12px;
    color: #1875ba;
    font-weight: bold;
}

.light_grey {
    background: #AFAFAF;
}

.light_blue {
    background: #1875ba;
}

.require {
    border: solid 1px #c45649;
}

.require_text {
    color: #c45649;
}

.regsubtitle {
    text-decoration: none; 
    color: #085184;
}

.regsubtitle:hover {
    text-decoration: underline;
    color: #ff0000;
}

div.notice {
    position: relative;
    border: 1px solid #97c1da;
    color: #264c72;
    padding: 15px;
    background-color: #d0e3ef;
    background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
    background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
    background-image: linear-gradient(#d8ebf8, #d0e3ef);
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.error {
    position: relative;
    border: 1px solid #811;
    color: #911;
    padding: 15px;
    background-color: #efd0d0;
    background-image: -moz-linear-gradient(#f8d8d8, #efd0d0);
    background-image: -webkit-linear-gradient(#f8d8d8, #efd0d0);
    background-image: linear-gradient(#f8d8d8, #efd0d0);
    background-repeat: repeat-x;
    border-color: #da9797;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.active {
    padding: 5px 5px;
    color: #fff;
    font: bold 14px;
    width: 250px;
    background: #1875ba;
    text-align: center;
}

.inactive {
    padding: 5px 5px;
    color: #fff;
    font: bold 14px;
    width: 250px;
    background: #AFAFAF;
    text-align: center;
}

.bold_text {
    font-weight: bold;
}

.default_text {
    margin: 2px;
    padding: 0 3px;
    font-size: 11px;
    font-weight: bold;
}

.solid_line {
    height: 5px;
    width: 100%;
    margin: 10px 0px;
    background-color: #1875ba;
}

a {
    text-decoration: none;
    color: #1875ba;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

/* Anchor tag css3 styling */

a.red {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #D44444; /* old browsers */
	background: -moz-linear-gradient(top, #8DD297 0%, #D44444 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D44444), color-stop(100%,#D44444)); /* webkit */
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #B51517;
	font: bold 11px Helvetica, Sans-Serif;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #b4d1ad;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
a.orange {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #E3831F; /* old browsers */
	background: -moz-linear-gradient(top, #8DD297 0%, #E3831F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E3831F), color-stop(100%,#E3831F)); /* webkit */
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #D88124;
	font: bold 11px Helvetica, Sans-Serif;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #b4d1ad;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
a.green {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #398525; /* old browsers */
	background: -moz-linear-gradient(top, #8DD297 0%, #398525 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DD297), color-stop(100%,#398525)); /* webkit */
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #5ea617;
	font: bold 11px Helvetica, Sans-Serif;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #b4d1ad;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
a.blue {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #0F9BF2; /* old browsers */
	background: -moz-linear-gradient(top, #0F9BF2 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0F9BF2), color-stop(100%,#0F9BF2)); /* webkit */
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #3B89DB;
	font: bold 11px Helvetica, Sans-Serif;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #0F9BF2;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
a.yellow {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #B89400; /* old browsers */
	background: -moz-linear-gradient(top, #B89400 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B89400), color-stop(100%,#B89400)); /* webkit */
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #A28100;
	font: bold 11px Helvetica, Sans-Serif;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #B89400;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
a.black {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #9B9B9B; /* old browsers */
	background: -moz-linear-gradient(top, #9B9B9B 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9B9B9B), color-stop(100%,#9B9B9B)); /* webkit */
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #7D7D7D;
	font: bold 11px Helvetica, Sans-Serif;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #9B9B9B;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
a.pink {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #FFA9D6; /* old browsers */
	background: -moz-linear-gradient(top, #FFA9D6 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFA9D6), color-stop(100%,#FFA9D6)); /* webkit */
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid #FFA8D2;
	font: bold 11px Helvetica, Sans-Serif;
	text-align: center;
	color: #fff;
	text-shadow: 0px 1px 2px #FFA9D6;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

#list ul {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    list-style: none;
    list-style-type:circle;
}

ul.sortable {
    padding: 0;
    margin: 0;
    list-style-type: none;
    cursor: -webkit-grabbing;
}

input {
    width: auto;
    padding: 0 3px;
    border: solid 1px #afafaf;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 20px;
    border-radius: 3px;
}

input [type="checkbox"] {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input [type="radio"] {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input.text {
    width: 160px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 20px;
    border-radius: 3px;
}

input.broad_text {
    width: 210px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 20px;
    border-radius: 3px;
}

input.auto_width {
    width: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 20px;
    border-radius: 3px;
}


/* Buttons */

input.button {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

input.package {
    width: auto;
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fbf9ee;
    border: 1px solid #fcefa1;
}

input.product {
    width: auto;
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ededed;
    border: 1px solid #d3d3d3;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

/* The CSS3 select control */
select {
    border: solid 1px #afafaf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
/* 
    -webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
*/
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select { padding-right:18px }
}

label { position: relative }

label:after {
    content: '<>';
    font: 11px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px; top:2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

label:before {
    content: '';
    right: 6px; top:0px;
    width: 20px; height:20px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}*/

/* jQuery autocomplete scrollable results */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 * html .ui-autocomplete {
    height: 300px;
}
