*{
    margin:0;
    padding:0;
}

body{
    font: 12px Verdana, Arial, sans-serif, Helvetica;
    color: #4B4B4B;
}

a {
    text-decoration: none;
    color: #1875BA;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

img { border: none }

#wrapper {
}

#preload {
    top: 0%;
    left: 50%;
    width:100%;
    height:100%;
    margin-left: -64px; /* image width / 2 */
    margin-top:   0px;  /* image height / 2 */
    cursor: wait;
    display: none;
    z-index: 999;
    position: fixed;
}

/* Header */

#header {
    height: 50px;
    margin: 0 auto;
    padding: 10px 50px;
    background-color: #1875BA;
    border: 1px solid #6F8DB0;
}

#header img {
    margin: auto;
}

#header span {
    color: #FFF;
}

#header ul {
    margin-top: 15px;
    float: right;
    list-style: none;
    white-space: nowrap;
}

#header li {
    display: inline;
    padding: 0 8px;
}

#header label {
    vertical-align: super;
    cursor: pointer;
}

#header a {
    color: #FFF;
    text-align:center;
    cursor: pointer;
}

/* Menu */

#menu {
    height: 30px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #9BA7AF;
    background-color: #F5F5F5;
    font: 11px Arial, Helvetica;
    border-bottom: solid 1px #ddd;
}

#menu ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    text-align: center;
    white-space: nowrap;
}

#menu li {
    display: inline;
}

#menu a {
    padding: 0 2x;
    float: left;
    color: #1875BA;
    text-decoration: none;
}

#menu li a.dashboard {
    height: 28px;
    padding-left: 28px;
    background: url("/static/images/dashboard.png") no-repeat;
}

#menu li a.mo {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/my-orders.png") no-repeat;
}

#menu li a.new {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/new-order.png") no-repeat;
}

#menu li a.batch {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/batch.png") no-repeat;
}

#menu li a.qs {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/box.png") no-repeat;
}

#menu li a.sp {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/open-box.png") no-repeat;
}

#menu li a.upload {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/upload.png") no-repeat;
}

#menu li a.sm {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/maintenance.png") no-repeat;
}

#menu li a.reports {
    height: 32px;
    padding-left: 28px;
    background: url("/static/images/reports.png") no-repeat;
}

#menu a:hover {
    text-decoration: underline;
    color: #aaa;
}

#menu a.selected {
    border-bottom: 3px solid #1875BA;
    cursor: default;
}

#menu div {
    margin-top: 8px;
}

#menu input[type=text] {
    margin: 0;
    padding:0;
    height: 22px;
    color: #98A7AF;
    border: 1px solid #98A7AF;
}

#menu input[type=submit] {
    background: url("/static/images/search.png") no-repeat center center;
    width: 20px;
    height:24px;
    border: none;
    color: transparent;
    font-size: 0;
    cursor: pointer;
    background-color: #98A7AF;
    position:absolute;
}

#menu select {
    padding: 2px;
    margin: 0;
    width: 120px;
    background: #FFF;
    color: #98A7AF;
    border: 1px solid #98A7AF;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#menu label { position:relative }

#menu label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#98A7AF;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #98A7AF;
    position:absolute;
    pointer-events: none;
}

#menu label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#FFF;
    position:absolute;
    pointer-events:none;
    display:block;
}

/* Page */

#page {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}

#content {
    margin: 0 10px;
    width: auto;
}

/* Post */

#post {
    margin: 0 auto;
    width: auto;
   }

#post select {
    border: 1px solid #98A7AF;
}

/* Footer */

#footer {
    height: 100px;
    margin: 10px auto;
    background-color: #F5F5F5;
    border: solid 1px #ddd;
}

#footer ul {
    padding: 20px 40px;
    list-style: none;
    float: right;
    color: #9BA7AF;
}

#footer li {
    display: inline;
}

#footer img {
    width: 97px;
    height: 37px;
    margin-right: 30px;
}

#footer a {
    color: #9BA7AF;
}

#footer a:hover {
    color: #1875BA;
    text-decoration: underline;
}

/* Dashboard */

#dashboard {
    width: auto;
    height: auto;
}

h1, h2, h3 {
    font: bold;
    color: #1875BA;
    margin: 10px 0;
    clear: both;
}

h1 {
    color: #FFF;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1875BA;
}

h2 {
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: solid 1px;
}

h3 {
    font-size: 14px;
}

label {
    white-space:nowrap;
}

/*
.styled-select {
    width: auto;
    height: 22px;
    overflow: hidden;
    background: url(/static/images/arrowhead-down.png) no-repeat right #FFF;
    border: 1px solid #98A7AF;
}

.styled-select select {
    background: transparent;
    padding: 5px;
    line-height: 1;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
}
*/
.equal {display: table; width: 100%}
.row {display: table-row; width: 100%}
.row div {display: table-cell;padding: 0 10px;vertical-align: top}
.row div21 {display: table-cell;padding-right: 10px;vertical-align: top}
.row div22 {display: table-cell;padding-left: 10px;vertical-align: top}
.row div31 {display: table-cell;padding-right: 10px;vertical-align: top}
.row div32 {display: table-cell;padding: 0 10px;vertical-align: top}
.row div33 {display: table-cell;padding-left: 10px;vertical-align: top}
.row table {min-height: 280px}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
}

table th {
    color: #FFF;
    text-align: center;
    background: #9BA7AF;
    text-transform: uppercase;
}

table a {
    text-align: center;
}

table td {
    padding: 3px;
}

#package-detail-list table {padding: 10px 0;border-spacing: 0px; text-align: center}
#package-detail-list table th {color: #FFF; background: #9BA7AF; text-transform: uppercase; white-space: nowrap}
#package-detail-list table td {padding: 0; text-align: center}

table.center {
    width: auto;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

table.order-nav { width: 100%;  text-align: center }
table.order-nav td { width: 33%; margin: 0; }
table.order-nav td.L { padding: 5px 10px 5px  0px; }
table.order-nav td.C { padding: 5px 10px 5px 10px; }
table.order-nav td.R { padding: 5px  0px 5px 10px; }

table.gray-app {
    margin: 10px 0;
    padding: 10px;
    background: #F0F0F0;
    border: solid 1px #ccc;
}

table.gray-app caption {
    color: #FFF;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    background: #9BA7AF;
    text-transform: uppercase;
}

table.gray-app th {
    padding: 5px;
    background: #9BA7AF;
}

table.gray-app td {
    padding: 5px;
}

table.summary-app {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #F0F0F0;
    border: solid 1px #ccc;
}

table.summary-app caption {
    color: #FFF;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    background: #1875BA;
    text-transform: uppercase;
}

table.summary-app th {
    padding: 5px;
    color: #9BA7AF;
    font-weight: bold;
    background: #F0F0F0;
    text-align: right;
}

table.summary-app td {
    padding: 5px;
    color: #9BA7AF;
}

table.summary-app a {
    color: #9BA7AF;
    text-transform: lowercase;
}

table.summary-app a:hover {
    color: #FFF;
    text-decoration: underline;
}

table.app {
    width: 100%;
    margin: 10px 0;
    background: #F5F5F5;
    border: solid 1px #ccc;
}

table.app caption {
    color: #FFF;
    padding: 10px;
    font-weight: bold;
    background: #1875BA;
    text-align: left;
    text-transform: uppercase;
}

table.app th {
    padding: 10px;
}

table.app caption a {
    color: #FFF;
    text-align: center;
    text-transform: lowercase;
}

table.app td green {
    color: green;
    font-weight: bold;
}

table.app b {
    font-weight: bold;
    padding: 10px 5px;
}

table.center_app {
    width: auto;
    padding: 10px;
    margin: 10px auto;
    background: #e9e9e9;
    text-align: left;
    border: solid 1px #ccc;
}

table.report {width: 100%; margin: 10px 0; border-spacing: 1px}
table.report td, th {padding: 0 3px; text-align: center}
table.report tr:nth-child(odd) {color: #000; background: #FFF}
table.report tr:nth-child(even) {color: #000; background: #E0E0E0}
table.report tr:hover {background:#99CCFF !important}
table.report th a {text-decoration: none;color: #FFF}
table.report th a:hover {text-decoration: underline;color: #97c1da}

div.notice {
    position: relative;
    margin: 10px 0px;
    padding: 15px;
    border: 1px solid #97c1da;
    color: #264c72;
    background-color: #d0e3ef;
}

div.error {
    position: relative;
    margin: 10px 0px;
    padding: 15px;
    border: 1px solid #811;
    color: #911;
    background-color: #efd0d0;
}

.active {
    width: 100%;
    padding: 5px 20px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    background: #1875BA;
    text-align: center;
    border: 1px solid #1875BA;
    cursor: pointer;
}

.inactive {
    width: 100%;
    padding: 5px 0px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    background: #9BA7AF;
    text-align: center;
    border: 1px solid #9BA7AF;
    cursor: pointer;
}

.bold_text {
    font-weight: bold;
}

.default_text {
    padding: 3px;
    font-weight: bold;
}

.solid_line {
    height: 8px;
    width: 100%;
    border: none;
    margin: 0px 0px;
    background-color: #1875BA;
    position: absolute;
    top: 10px;
    z-index: -1;
}

#myOrders table  {width: 100%; margin: 10px 0; border-spacing: 0px; text-align: center}
#myOrders table tr {padding: 2px}
#myOrders table th {padding: 5px; color: #FFF; background-color: #9BA7AF}
#myOrders table td {padding: 5px; color: #9BA7AF; background: #F5F5F5; border-bottom: 1px solid #9BA7AF}

#myOrders a.red {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #D44444; /* old browsers */
	background: -moz-linear-gradient(top, #8DD297 0%, #D44444 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D44444), color-stop(100%,#D44444)); /* webkit */
}

#myOrders a.orange {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #E3831F; /* old browsers */
	background: -moz-linear-gradient(top, #8DD297 0%, #E3831F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E3831F), color-stop(100%,#E3831F)); /* webkit */
}

#myOrders a.green {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #398525; /* old browsers */
	background: -moz-linear-gradient(top, #8DD297 0%, #398525 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DD297), color-stop(100%,#398525)); /* webkit */
}

#myOrders a.blue {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #0F9BF2; /* old browsers */
	background: -moz-linear-gradient(top, #0F9BF2 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0F9BF2), color-stop(100%,#0F9BF2)); /* webkit */
}

#myOrders a.yellow {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #B89400; /* old browsers */
	background: -moz-linear-gradient(top, #B89400 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B89400), color-stop(100%,#B89400)); /* webkit */
}

#myOrders a.black {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #9B9B9B; /* old browsers */
	background: -moz-linear-gradient(top, #9B9B9B 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9B9B9B), color-stop(100%,#9B9B9B)); /* webkit */
}

#myOrders a.pink {
	display: block; width: 12px; height: 12px; padding: 1px; margin: 0 auto;
	background: #FFA9D6; /* old browsers */
	background: -moz-linear-gradient(top, #FFA9D6 0%, #F20C0C 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFA9D6), color-stop(100%,#FFA9D6)); /* webkit */
}

#list ul {
    position: relative;
    margin: 10px 10px;
    list-style: none;
    list-style-type:circle;
}

#list li {
    padding: 3px 5px;
}

ul.sortable {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: -webkit-grabbing;
}

input {
    padding: 1px 3px;
    border: solid 1px #afafaf;
}

input.text {
    width: 160px;
}

input.broad_text {
    width: 210px;
}

input.invisible {
    border: none;
}

/* Buttons */

input.button {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    background-color: #eaeaea;
    white-space: nowrap;
    border: 1px solid #ddd;
    vertical-align: middle;
    min-width: 100px;
    cursor: pointer;
}

input.green {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #5DBD53;
    border: 1px solid #5DBD53;
    vertical-align: middle;
    min-width: 100px;
    cursor: pointer;
}

input.blue {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #1875BA;
    border: 1px solid #1875BA;
    vertical-align: middle;
    min-width: 100px;
    cursor: pointer;
}

input.gray {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #9BA7AF;
    border: 1px solid #9BA7AF;
    vertical-align: middle;
    min-width: 100px;
    cursor: pointer;
}

input.add {
    position: relative;
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #27A9DE;
    border: 1px solid #27A9DE;
    vertical-align: middle;
    cursor: pointer;
}

input.delete {
    position: relative;
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #ED1D24;
    border: 1px solid #ED1D24;
    vertical-align: middle;
    cursor: pointer;
}

.green-forward {
    min-width: 150px;
    height: 32px;
    overflow: hidden;
    background: url(/static/images/green-arrowhead-right.png) no-repeat right;
    color: transparent;
}

.green-forward input {
    min-width: 118px;
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #5DBD53;
    border: 1px solid #5DBD53;
    vertical-align: middle;
    cursor: pointer;
}

.gray-backward {
    height: 32px;
    overflow: hidden;
    background: url(/static/images/gray-arrowhead-left.png) no-repeat left;
    color: transparent;
}

.gray-backward input {
    min-width: 118px;
    position: relative;
    display: inline-block;
    margin-left: 32px;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #9BA7AF;
    border: 1px solid #9BA7AF;
    vertical-align: middle;
    cursor: pointer;
}

input.package {
    width: auto;
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background: #fbf9ee;
    border: 1px solid #fcefa1;
    vertical-align: middle;
    cursor: pointer;
}

.orange {
    height: 32px;
    overflow: hidden;
    color: transparent;
}

.orange input {
    min-width: 118px;
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    white-space: nowrap;
    background-color: #FAA226;
    border: 1px solid #FAA226;
    vertical-align: middle;
    cursor: pointer;
}

.ui-state-package {border: 1px solid #EEE;background-color: #F0F0F0;}
.ui-state-package input[type="text"] {width: 80%;}
.ui-state-package select {width: 80%;}

.ui-state-product {border: 1px solid #EEE;background-color: #FFF;}
.ui-state-product input[type="text"] {width: 80%;}
.ui-state-product select {width: 80%;}

.ui-corner-all { border-radius: 0 }
.ui-corner-top { border-radius: 0 }

#carrier-service-list ul li { width: 32%; }
#carrier-service-list ul li a { width: 100%; text-align: center; }
#carrier-service-list li.ui-tabs-active a { background-color: #5DBD53; color: #FFF; }
#carrier-service-list table { text-align: center; }
/*
.ui-widget-header { border: none; background-color: #FFF; }
.ui-state-default { width: 300px; background-color: #F5F5F5; }
.ui-widget-header .ui-state-default  .ui-state-active { background-image: none; }
*/

.float_right {float: right;}
.float_left {float: left;}

/* jQuery autocomplete scrollable results */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 * html .ui-autocomplete {
    height: 300px;
}
