<html>
	<head>
		<title>[% dispatchtitle %]</title>
		<style>
			div.notice {position: relative;margin: 10px 0px;padding: 15px;border: 1px solid #97C1DA;color: #264C72;background-color: #D0E3EF;text-align: left;}
		</style>
	</head>
	<body>
	<table width=45% cellpadding=1 cellspacing=0 border="0">
	<tr>
		<td><div class="notice">***This is an automated message, do not reply to this email.***</div></td></tr>
	<tr>
		<td><h2>[% type %]-PICKUP-NOTIFICATION</h2></td></tr>
	<tr>
		<td><div class="notice">Your shipment pick-up dispatch has been scheduled</div></td></tr>
	<tr>
		<td><table width="450" border="1" cellspacing="0" cellpadding="0" align="left" bordercolor="#000000" bgcolor="#FFFFFF">
			<tr>
				<td>
					<table width=90% cellpadding=1 cellspacing=0>
						<tr valign=top>
							<td width=15% align=right>
								<font size="-1" face="Arial, Helvetica, sans-serif"><b>From:</b></font>
							</td>
							<td width=5%>&nbsp;</td>
							<td width=40%>
								<font face="Arial, Helvetica, sans-serif" size="-1">[% fullfrom %]</font>
							</td>
							<td width=5%>&nbsp;</td>
							<td width=35%>
								<font face="Arial, Helvetica, sans-serif" size="-1">
									[% branchcontact %]<br>
									[% branchphone %]<br>
									Ref: [% refnumber %]<br>
									Ship Date: [% shipdate %]<br>
									Airport Code: [% branchairportcode %]<br>
								</font>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table width=90% cellpadding=1 cellspacing=0>
						<tr valign=top>
							<td width=15% align=right>
								<font face="Arial, Helvetica, sans-serif" size="-1"><b>To:</b></font>
							</td>
							<td width=5%>&nbsp;</td>
							<td width=40%>
								<font face="Arial, Helvetica, sans-serif" size="-1">[% fullto %]</font>
							</td>
							<td width=5%>&nbsp;</td>
							<td width=35%>
								<font face="Arial, Helvetica, sans-serif" size="-1">
									[% contactname %]<br>
									[% contactphone %]<br>
									PO: [% ponumber %]<br>
									ETA: [% etadate %]<br>
									Airport Code: [% airportcode %]
								</font>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table width=90% cellpadding=1 cellspacing=0>
						<tr valign=top>
							<td width=15% align=right>
								<font face="Arial, Helvetica, sans-serif" size="-1"><b>Bill To:</b></font>
							</td>
							<td width=5%>&nbsp;</td>
							<td width=40%>
								<font face="Arial, Helvetica, sans-serif" size="-1">[% fullbilling %]</font>
							</td>
							<td width=5%>&nbsp;</td>
							<td width=35%>
								<font face="Arial, Helvetica, sans-serif" size="-1">
									Weight: [% pickupweight %] Lbs<br>
									DIM Weight: [% pickupdimweight %] Lbs<br>
									DIMS: [% dims %]<br>
									Density: [% density %]<br>
									Packages: [% totalquantity %]<br>
									Zone: [% zonenumber %]<br>
									Tracking: [% tracking1 %]<br>
								</font>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
				 <table width=90% cellpadding=1 cellspacing=0>
					<tr>
						<td align=left width=25%>
							<font face="Arial, Helvetica, sans-serif" size="-1"><b>&nbsp;&nbsp;Description:</b></font>
						</td>
						<td align=left width=75%>
							<font face="Arial, Helvetica, sans-serif" size="-1">[% customsdescription %]</font>
						</td>
					</tr>
					<tr>
						<td align=left width=25%>
							<font face="Arial, Helvetica, sans-serif" size="-1"><b>&nbsp;&nbsp;Comments:</b></font>
						</td>
						<td align=left width=75%>
							<font face="Arial, Helvetica, sans-serif" size="-1">[% description %]</font>
						</td>
					</tr>
				 </table>
				</td>
			</tr>
			<tr>
				<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align=left bgcolor="000000">
							<font face="Arial, Helvetica, sans-serif" size="4" color="FFFFFF"><b>&nbsp;&nbsp;[% carrier %]</b></font>
						</td>
					</tr>
					<tr>
						<td align=left bgcolor="000000">
							<font face="Arial, Helvetica, sans-serif" size="4" color="FFFFFF"><b>&nbsp;&nbsp;[% service %]</b></font>
						</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td align=center><img id="barcode" src="[% barcode %]" alt="PLACE LABEL HERE" width="200" height="30"/></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td align=left>
							<font face="Arial, Helvetica, sans-serif" size="-1"><b>&nbsp;&nbsp;[% labelbanner %]</b></font>
						</td>
					</tr>
					<tr>
						<td align=left>
							<font face="Arial, Helvetica, sans-serif" size="-1"><b>&nbsp;&nbsp;[% commentstring %]</b></font>
						</td>
					</tr>
				</table>
				</td>
				</tr>
			</table>
		</td>
	</tr>
	</tr><td><div class="notice">If you have any questions about your shipment, please contact<br>the shipping carrier or your company representative.</div></td></tr>
	</tr>
		<td><div id="logo">
			<table width="100%">
				<tr>
					<td align="left"><img height="30px" width="150px"src="https://dintelliship2.engagetechnology.com/static/branding/engage/images/login/logo.png"/></td>
					[% IF logo %]
						<td align="right"><img height="30px" width="150px" src="https://dintelliship2.engagetechnology.com/static/branding/engage/images/header/[% logo %]"/></td>
					[% END %]
				</tr>
			</table>
			</div>
		</td>
	</tr>
	</table>
	</body>
</html>